<div class="main--div">
  <div class="secondary--div">
    <div>Logo</div>
    <div class="route--list">
      <p class="tabs--title">Home</p>
      <p class="tabs--title">About</p>
      <p class="tabs--title">Experience</p>
      <p class="tabs--title">Gallery</p>
      <p class="tabs--title">Contact</p>
    </div>
  </div>
</div>

<nav>
  <ul>
    <li>
      <a
        routerLink="/contact-component"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        >Contact Component</a
      >
    </li>
    <li>
      <a
        routerLink="/about-component"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        >About Component</a
      >
    </li>
  </ul>
</nav>

<router-outlet></router-outlet>