<div class="main--div">

  <nav class="secondary--div">
    <div>Logo</div>
    <div class="route--list">
      <div class="tabs--title">
        <a routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page">
          Home
        </a>
      </div>
      <div class="tabs--title">
        <a routerLink="/about" routerLinkActive="active" ariaCurrentWhenActive="page">
          About
        </a>
      </div>
      <div class="tabs--title">
        <a routerLink="/experience" routerLinkActive="active" ariaCurrentWhenActive="page">
          Experience
        </a>
      </div>
      <div class="tabs--title">
        <a routerLink="/gallery" routerLinkActive="active" ariaCurrentWhenActive="page">
          Gallery
        </a>
      </div>
      <div class="tabs--title">
        <a routerLink="/contact" routerLinkActive="active" ariaCurrentWhenActive="page">
          Contact
        </a>
      </div>
    </div>
  </nav>

</div>

<router-outlet></router-outlet>